.carrito{
    width: 2.5rem;
    min-width: 30px;
    border-radius: 50%;
}
.carrito_boton{
    padding: 3px;
    margin: 5px;
    font-size: 1.2rem;
}
.carrito_boton:hover{
    background-color: thistle;
}