*{
    text-decoration: none;       
}
.navbar-clase{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 2rem;
    width: 100vw;
    background-color: gray;
}

.navegador{
    display: flex;
    text-decoration: none;       

}
.navegador ul {
    display: flex;
    flex-direction: row;
    text-decoration: none;       

}
.navegador ul li{
    list-style: none;   
    margin: 10px; 
    color: aqua;
    text-decoration: none;       

}
.navegador ul li Link{
    text-decoration: inherit;       

}
